html {
  scroll-behavior: smooth;
}

/*Solar system stuff*/

@keyframes orbit {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.orbit-animation {
  animation: orbit var(--duration) linear infinite;
}

.orbit-stopped {
  animation: none;
}

@keyframes loading-dots {
  0% {
    content: '';
  }
  33% {
    content: '.';
  }
  66% {
    content: '..';
  }
  100% {
    content: '...';
  }
}

/* @keyframes animated-box {
  0% {
    background-color: #380063;
  }
  20% {
    background-color: #6000aa;
  }
  40% {
    background-color: #5200a8;
  }
  60% {
    background-color: #4200a7;
  }
  80% {
    background-color: #2e00a5;
  }
  100% {
    background-color: #380063; 
  }
} */

.classContainer {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.parent-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: relative;
  background: #111650;
  /* animation: animated-box 30s infinite;  */
}

.solar-system-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 97%;
  height: 100%;
  z-index: 1;
}

.loading-text::after {
  content: '';
  animation: loading-dots 1s steps(3, end) infinite;
}

.loading-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 72px;
  z-index: 3;
}

.planet {
  position: relative;
}

.fullscreen-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #111650;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  z-index: 2;
  gap: 20px;
  row-gap: 0px;
}

.fullscreen-overlay button {
  padding: 10px 20px;
  cursor: pointer;
  position:absolute;
  display:flex;
  margin-top:40%;
  border-radius:25px;
  border: 1px solid white;
  width:10rem;
  height:3rem;
  justify-content: center;
  align-items:center;
  transition:0.5s, background-color 0.5s;
  background-color: purple;
  color:white;
}

.planet-container {
  width: 20%;
  height: auto;
  /* aspect-ratio: 1; */
  overflow-x: show;
}

.planet-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s ease-in-out;
}

.saturn {
  scale: 1.2;
}

.planet-container img:hover {
  transform: scale(1.05);
}

.planet-transition {
  transition: transform 1s ease-in-out;
}

/* Main Page */
.mainDiv {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background: #393598;
  position: relative;
}

.stars {
  background-image: url('/public/starbg.png');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: repeat;
  overflow: hidden;
  animation: scrollBackground 5s linear infinite;
  width: 100%;
  height: 100%;
}

@keyframes scrollBackground {
  0% {
    background-position: 0 0%;
  }
  100% {
    background-position: 0 100%;
  }
}

.rightDiv {
  position: absolute;
  display: flex;
  justify-items: center;
  align-items: center;
  right: 0;
  width: 50%;
  height: 100%; 
}

.leftDiv {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
}

.titleDiv {
  display: flex;
  align-items: center;
  margin-top: -2rem;
}

.title {
  font-size: 4.5rem;
  width: 100%;
  text-align: center;
  color: white;
  font-family: 'Array', sans-serif;
}

.textDiv {
  font-size: 1.3rem;
  padding-left: 2rem;
  color: white;
  font-family: 'Khand', sans-serif;
}

.startDiv {
  display: flex;
  margin-top: 2rem;
  position: absolute;
  left: 40%;
  bottom: 25%;
}

.startButton {
  text-decoration: none;
  color: white;
  position: relative;
  background: purple;
  padding: 1rem;
  border-radius: 25px;
  text-align: center;
  width: 5rem;
  border: 1px solid white;
  overflow: hidden;
}

.startButton::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 0;
  left: 0;
  top: 0;
}

.textDiv {
  font-size: 1.3rem;
  padding-left: 2rem;
  color: white;
}

.startDiv {
  display: flex;
  margin-top: 2rem;
  position: absolute;
  left: 40%;
  bottom: 25%;
}

.startButton {
  text-decoration: none;
  color: white;
  position: relative;
  background: purple;
  padding: 1rem;
  border-radius: 25px;
  text-align: center;
  width: 5rem;
  border: 1px solid white;
  overflow: hidden;
}

.startButton::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 0;
  left: 0;
  top: 0;
  background: #111650;
  z-index: 0;
  transition: height 0.3s ease;
  opacity: 0.5;
}

.startButton:hover::before {
  height: 100%;
}

.startButton:hover {
  color: white;
  z-index: 10;
}


.earthDiv {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
}

.earthText {
  z-index: 10;
  color: white;
  position: absolute;
  bottom: 3rem;
}

/* Testing */
.custom-shape-divider-bottom-1725778629 {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1725778629 svg {
  position: relative;
  display: block;
  width: calc(225% + 1.3px);
  height: 331px;
}

.custom-shape-divider-bottom-1725778629 .shape-fill {
  fill: #111650;
}
